* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
}

body {
  /*   font-size: 1.6rem; */
  font-family: "Inter", sans-serif;
  background: #0c0c0d;
  display: grid;
  gap: 2rem;
  justify-content: center;
  background-image: url("./assets/bg.png");
  background-repeat: no-repeat;
  position: relative;
}

select {
  appearance: none;
  width: 4.5rem;
  padding: 0.75rem;
  gap: 0.5rem;

  border-radius: 0rem 0.375rem 0.375rem 0rem;
  border: 1px solid #252529;
  background: #17171a;

  color: #afabb6;
  line-height: 1rem; /* 160% */
  text-transform: uppercase;
}

form {
}

h1 {
  margin-top: 10.5rem;
  color: #fbf9fe;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 100%; /* 1.5rem */
  letter-spacing: 0.045rem;
}

form .inputs {
  display: flex;
  gap: 1rem;
}

form .inputs .item-wrapper {
  display: grid;
  gap: 0.5rem;
}

form .inputs label {
  color: #afabb6;

  font-size: 1rem;
  font-style: normal;
  line-height: 100%; /* 0.75rem */
  letter-spacing: 0.0225rem;
}

form .inputs input {
  display: flex;
  padding: 0.75rem;
  align-items: center;
  gap: 0.5rem;
  align-self: stretch;
  height: 4rem;

  border: 1px solid #252529;
  background: #111112;
  color: #fbf9fe;
  border-radius: 0rem 0.375rem 0.375rem 0rem;
  outline: none;
}

form .inputs input:hover,
form .inputs input:focus {
  border-radius: 0.375rem;
  border: 1px solid #a881e6;
}

form .inputs .item {
  width: 32rem;
  border-radius: 0.375rem;
}

form .inputs .qtd {
  border-radius: 0.375rem 0rem 0rem 0.375rem;
  width: 8rem;
}

.qtd::-webkit-outer-spin-button,
.qtd::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

form .inputs .qtd-wrapper {
  position: relative;
  display: flex;
}

.qtd-wrapper svg {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.qtd-wrapper select {
  width: 7rem;
  font-size: 1rem;
  letter-spacing: 0.01875rem;
}

.qtd-wrapper select::-ms-expand {
  display: none;
}

.item-wrapper .category {
  height: 4rem;
  width: 17rem;
  font-size: 0.875rem;
  letter-spacing: 0.02625rem;
  border-radius: 0.375rem;
}

.item-wrapper .category-wrapper {
  position: relative;
}

.item-wrapper .category-wrapper svg {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.addItem {
  all: unset;
  display: flex;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.375rem;
  width: 2rem;
  height: 2rem;
  margin-top: 1.6rem;
  padding: 0.8rem;
  border-radius: 50%;
  background: #7450ac;
  cursor: pointer;
}

button:hover {
  background: #523480;
}

button svg {
  height: 2.4rem;
  width: 2.4rem;

  stroke: #ffffff;
}

main {
  display: grid;
  gap: 1rem;
}

.cards {
  display: flex;
  padding: 1rem 2rem;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  height: 7rem;

  border-radius: 0.5rem;
  border: 1px solid #252529;
  background: #17171a;
}

.cards.active {
  background: #111112;
}

.left-wrap {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.left-wrap .checkbox-wrap {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-wrap .checkbox-wrap svg {
  position: absolute;
  display: none;
}

.left-wrap input[type="checkbox"] {
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;

  font: inherit;
  width: 2rem;
  height: 2rem;
  padding: 0.25rem;
  border: 0.1rem solid #a881e6;
  border-radius: 4px;
}

.left-wrap input[type="checkbox"]:hover {
  background-color: #523480;
  width: 2rem;
  height: 2rem;
}

.left-wrap input[type="checkbox"]:checked {
  background-color: #4e995e;
  border: 01rem solid #4e995e;
  width: 2rem;
  height: 2rem;
}

.left-wrap .details {
  display: grid;
  gap: 0.6rem;
}

.left-wrap .details h3 {
  color: #fbf9fe;

  font-size: 1.2rem;

  font-weight: 700;
  line-height: 130%; /* 1.1375rem */
  text-decoration: none;
}

.left-wrap .details h3.active {
  text-decoration: line-through;
  color: #fbf9fe77;
}

.left-wrap .details span {
  color: #afabb6;

  font-size: 0.95rem;
  line-height: 130%; /* 0.975rem */
}

.right-wrap {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}

.right-wrap .tag {
  height: 3rem;
  width: 8rem;
  display: flex;
  padding: 0.5rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  border-radius: 62.4375rem;
  background: #261a17;
}

.right-wrap .tag svg {
  width: 1rem;
  height: 1rem;
  stroke: #e07b67;
}

.right-wrap .tag span {
  color: #e07b67;

  font-weight: 600;
  line-height: 130%; /* 0.975rem */
  font-size: 0.95rem;
}

.right-wrap .options {
  background: transparent;
  border: none;
  cursor: pointer;
}

.right-wrap .more {
  width: 2rem;
  height: 2rem;
  stroke: #a881e6;
}

@media (width<700px) {
  .inputs {
    display: grid;
    flex-direction: column;
    width: 100%;
  }

  .inputs .item-wrapper .item {
    width: 38rem;
  }

  .inputs .test {
    display: flex;
    justify-content: space-between;

    width: 38rem;
  }

  .inputs .test .qtd {
    width: 7rem;
  }

  .inputs .test .category {
    width: 16rem;
  }

  .right-wrap .tag {
    width: fit-content;
  }

  .right-wrap .tag svg {
    width: 1.2rem;
    height: 1.2rem;
  }

  .tag span {
    display: none;
  }
}
