* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.sr-only {
  position: absolute;
  width: 0.1rem;
  height: 0.1rem;
  padding: 0;
  margin: -0.1rem;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

body,
button {
  font-family: "IBM Plex Sans";
}

body {
  font-size: 1.6rem;
  height: 100vh;
  display: grid;
  place-content: center;
  background: #1e1e1e;
}

form {
  align-items: flex-start;
  padding: 32px;

  width: 592px;
  height: 588px;

  /* Base/white */

  background: #ffffff;
  /* Base/gray-100 */

  border: 1px solid #e1e1e6;
  border-radius: 6px;
}

header {
  align-items: center;
  justify-content: space-between;
  height: 44px;
}

header p {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;

  color: #323238;
}

.h-wrapper {
  gap: 8px;
}

.line {
  border: 1px solid #e1e1e6;
  margin: 32px 0;
  height: 0px;
}

main {
  gap: 16px;
}

.wrapper p {
  gap: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;

  color: #323238;
}

.wrapper input {
  padding: 8px 16px;

  width: 528px;
  height: 56px;

  background: #ffffff;

  border: 1px solid #e1e1e6;
  border-radius: 2px;
}

.wrapper input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;

  color: #8d8d99;
}

#textarea {
  height: 100px;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

#number::-webkit-outer-spin-button,
#number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.button-wrapper {
  margin-top: 32px;
  align-items: center;
  justify-content: space-between;
}

.back {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;

  width: 158px;
  height: 56px;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;

  text-transform: uppercase;
  background: transparent;
  color: #633bbc;

  border: 1px solid #633bbc;
  border-radius: 6px;
}

.continue {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  gap: 8px;

  width: 158px;
  height: 56px;

  font-weight: 700;
  font-size: 16px;
  line-height: 150%;

  border: none;
  text-transform: uppercase;
  color: #ffffff;

  background: #633bbc;
  border-radius: 6px;
}
